

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 63.7rem;
}.instagram-post-1-B3z {
  box-sizing: border-box;
  padding: 6.2rem 1.5rem 4.4rem 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.instagram-post-1-B3z .j-c-t-s-l-PpG {
  margin: 0rem 7.4rem 3.4rem 0rem;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .todi-depot-kHS {
  margin: 0rem 6.1rem 2.4rem 0rem;
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.372rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kqrz-yAC {
  margin: 0rem 8.4rem 1.4rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kqrz-yAC .no-000000594-7ZE {
  margin-right: 10.8rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.207rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kqrz-yAC .item-24-01-24-ybS {
  margin-right: 9.4rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.46rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kqrz-yAC .item-11-43-52-2Zi {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.092rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kstu-HEk {
  margin: 0rem 8.1rem 2.7rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kstu-HEk .non-ac-aDr {
  margin-right: 13.7rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kstu-HEk .rj14pd8012-EZJ {
  margin: 0.3rem 9rem 0rem 0rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.069rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-kstu-HEk .tdi0000520-ggC {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.046rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-3xf2-aWg {
  margin: 0rem 7.8rem 1rem 3.2rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-3xf2-aWg .item--3v4 {
  margin-right: 5.2rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-3xf2-aWg .ladies-concession-tfn {
  margin: 0.2rem 8.6rem 0rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.28rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .auto-group-3xf2-aWg .item--MZN {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.3625;
  letter-spacing: -0.14rem;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .mahapura-mod-Sap {
  margin: 0rem 7rem 1.7rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.21rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .to-vVz {
  margin: 0rem 3.9rem 2.3rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .bagru-3Ki {
  margin: 0rem 5.3rem 2.3rem 0rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .tot-journey-kms-1700-ZJ4 {
  margin: 0rem 1.8rem 1.8rem 0rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .full-1-20-200-GiG {
  margin: 0rem 11.5rem 1.7rem 0rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.105rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .item-2000-aU4 {
  margin: 0rem 5.7rem 1.2rem 0rem;
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1.3619999658;
  letter-spacing: -0.21rem;
  color: #000000;
  font-family: Adamina, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.instagram-post-1-B3z .item-2000-aU4 .item-2000-aU4-sub-0 {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.21rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.instagram-post-1-B3z .item-2000-aU4 .item-2000-aU4-sub-1 {
  font-size: 4.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.21rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
}
.instagram-post-1-B3z .tdi0000520-008-c1706-ver-13-6jE {
  margin: 0rem 11.1rem 3.1rem 0rem;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: -0.115rem;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.instagram-post-1-B3z .not-transferable-nc4 {
  margin-right: 12.1rem;
  font-size: 3.1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Times New Roman, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
